/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

body {
  max-width: 428px;
  text-align: center;
  background-color: #ffffff;
  font-family: Noto Serif;
  font-weight: 300;
}

header {
  background-color: #d7a1fd;
  padding: 20px;
  text-transform: uppercase;
}

h1 {
  color: #000000;
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 10px;
}

h1 span,
h3 {
  font-family: Nunito Sans;
  font-weight: 800;
}

header p {
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
}

nav {
  color: #ffffff;
  text-transform: uppercase;
  background-color: #000000;
  padding: 20px;
}

nav .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

a {
  text-decoration: none;
}

section {
  padding: 60px 20px;
}

h2,
h3 {
  text-transform: uppercase;
}

h2 {
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 30px;
}

hr {
  border: solid 3px #d7a1fd;
}

article .text {
  padding: 20px 0 30px;
  border: 1px solid #000000;
  border-top: 0;
  font-size: 15px;
  height: 168px;
}

.text .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
h3 {
  font-size: 18px;
}

article {
  margin-bottom: 30px;
}

section .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.button {
  padding: 20px 30px;
  background-color: #000000;
  color: #d7a1fd;
  font-family: Nunito Sans;
  font-size: 15px;
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
}
